name: CI

on: [push, pull_request]

jobs:
  build_and_test:
    permissions:
      contents: write
    strategy:
      matrix:
        os: [ubuntu-latest]
    runs-on: ${{matrix.os}}
    steps:
      - uses: actions/checkout@v2
      - uses: goto-bus-stop/setup-zig@v2
      - run: sudo apt-get install -y libelf-dev libz-dev
      - run: sudo `which zig` build test
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: goto-bus-stop/setup-zig@v2
      - run: zig fmt --check src/bpf/*.zig src/tests/*.zig samples/*.zig
